@{
    ViewData["Title"] = @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Title;
}

<div>
    <h1>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Title</h1>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.LastUpdated</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PrivacyPolicyDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WeUseYourPersonalData</p>
    <h2>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.InterpretationAndDefinitions</h2>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Interpretation</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.InterpretationDescription</p>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Definitions</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PrivacyPolicyPurposes</p>
    <ul>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Account</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.AccountDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Affiliate</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.AffiliateDescription <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PrivacyPolicyGenerator</a></p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Company</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CompanyDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Cookies</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CookiesDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Country</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CountryDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Device</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DeviceDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PersonalData</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PersonalDataDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Service</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ServiceDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ServiceProvider</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ServiceProviderDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageData</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageDataDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.Website</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WebsiteDescription <a href="#" rel="external nofollow noopener" target="_blank">@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WebsiteURL</a></p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.You</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.YouDescription</p>
        </li>
    </ul>
    <h2>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CollectingAndUsingYourPersonalData</h2>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TypesofDataCollected</h3>
    <h4>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PersonalData</h4>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PersonalDataDescription2</p>
    <ul>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageData</li>
    </ul>
    <h4>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageData</h4>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageDataDescription2</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageDataDescription3</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageDataDescription4</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UsageDataDescription5</p>
    <h4>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TrackingTechnologiesandCookies</h4>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TrackingTechnologiesandCookiesDescription</p>
    <ul>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CookiesOrBrowserCookies</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CookiesOrBrowserCookiesDescription</li>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WebBeacons</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WebBeaconsDescription</li>
    </ul>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CookiesDescription2  <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TermsFeedWebsite</a> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CookiesDescription3</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.SessionAndPersistentCookiesPurposes</p>
    <ul>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.NecessaryEssentialCookies</strong></p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TypeSessionCookie</p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.AdministredByUs</p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.NecessaryEssentialCookiesPurpose</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CookiesPolicyNoticeAcceptanceCookies</strong></p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TypePersistentCookie</p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.AdministredByUs</p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TypePersistentCookiePurpose</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.FunctionalityCookies</strong></p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TypePersistentCookie</p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.AdministredByUs</p>
            <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TypePersistentCookiePurpose2</p>
        </li>
    </ul>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.MoreInformationAboutCookies</p>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.UseOfYourPersonalData</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CompanyUsePersonalData</p>
    <ul>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CompanyUsePersonalDataDescription</strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.CompanyUsePersonalDataDescription2</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToManageYourAccount</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToManageYourAccountDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PerformanceOfAContract</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.PerformanceOfAContractDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToContactYou</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToContactYouDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToProvideYou</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToProvideYouDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToManageYourRequests</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ToManageYourRequestsDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ForBusinessTransfers</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ForBusinessTransfersDescription</p>
        </li>
        <li>
            <p><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ForOtherPurposes</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ForOtherPurposesDescription</p>
        </li>
    </ul>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WeMayShareYourPersonalInformation</p>
    <ul>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithServiceProviders</strong> WithServiceProvidersDescription</li>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ForBusinessTransfers</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ForBusinessTransfersDescription</li>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithAffiliates</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithAffiliatesDescription</li>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithBusinessPartners</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithBusinessPartnersDescription</li>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithOtherUsers</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithOtherUsersDescription</li>
        <li><strong>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithYourConsent</strong> @DnD_Sheet.Resources.Views.Home.PrivacyPolicy.WithYourConsentDescription</li>
    </ul>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.RetentionOfYourPersonalData</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.RetentionOfYourPersonalDataDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.RetentionOfYourPersonalDataDescription2</p>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TransferOfYourPersonalData</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TransferOfYourPersonalDataDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TransferOfYourPersonalDataDescription2</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.TransferOfYourPersonalDataDescription3</p>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DeleteYourPersonalData</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DeleteYourPersonalDataDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DeleteYourPersonalDataDescription2</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DeleteYourPersonalDataDescription3</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DeleteYourPersonalDataDescription4</p>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.DisclosureOfYourPersonalData</h3>
    <h4>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.BusinessTransactions</h4>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.BusinessTransactionsDescription</p>
    <h4>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.LawEnforcement</h4>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.LawEnforcementDescription</p>
    <h4>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirements</h4>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirementsDescription</p>
    <ul>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirementsDescription2</li>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirementsDescription3</li>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirementsDescription4</li>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirementsDescription5</li>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.OtherLegalRequirementsDescription6</li>
    </ul>
    <h3>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.SecurityOfYourPersonalData</h3>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.SecurityOfYourPersonalDataDescription</p>
    <h2>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChildrensPrivacy</h2>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChildrensPrivacyDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChildrensPrivacyDescription2</p>
    <h2>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.LinksToOtherWebsites</h2>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.LinksToOtherWebsitesDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.LinksToOtherWebsitesDescription2</p>
    <h2>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChangesToThisPrivacyPolicy</h2>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChangesToThisPrivacyPolicyDescription</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChangesToThisPrivacyPolicyDescription2</p>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ChangesToThisPrivacyPolicyDescription</p>
    <h2>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ContactUs</h2>
    <p>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ContactUsDescription</p>
    <ul>
        <li>@DnD_Sheet.Resources.Views.Home.PrivacyPolicy.ByEmail</li>
    </ul>
</div>